#include "resource.h"

/////////////////////////////////////////////////////////////////////////////
// Français (France) resources

/////////////////////////////////////////////////////////////////////////////
//
// Icon
//

// Icon with lowest ID value placed first to ensure application icon
// remains consistent on all systems.
IDI_MAIN_ICON           ICON                    "hulk.minimal.ico"
IDI_TRAY_ICON           ICON                    "hulk.minimal.ico"

/////////////////////////////////////////////////////////////////////////////
// French (France) resources

#ifdef APSTUDIO_INVOKED
/////////////////////////////////////////////////////////////////////////////
//
// TEXTINCLUDE
//

1 TEXTINCLUDE 
BEGIN
    "resource1.h\0"
END

2 TEXTINCLUDE 
BEGIN
    "#include ""winres.h""\r\n"
    "\0"
END

3 TEXTINCLUDE 
BEGIN
    "\r\n"
    "\0"
END

#endif    // APSTUDIO_INVOKED


/////////////////////////////////////////////////////////////////////////////
//
// Version
//

VS_VERSION_INFO VERSIONINFO
 FILEVERSION 0,9,4,0
 PRODUCTVERSION 0,9,4,0
 FILEFLAGSMASK 0x3fL
#ifdef _DEBUG
 FILEFLAGS 0x1L
#else
 FILEFLAGS 0x0L
#endif
 FILEOS 0x40004L
 FILETYPE 0x1L
 FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "000004b0"
        BEGIN
            VALUE "Comments", "Glatigny Jerome"
            VALUE "CompanyName", "Obsidev - http://www.obsidev.com"
            VALUE "FileDescription", "HotKey UnLimited - GUIPro project"
            VALUE "FileVersion", "0, 9, 4, 0"
            VALUE "InternalName", "HulK"
            VALUE "LegalCopyright", "GPL 2007-2015"
            VALUE "LegalTrademarks", "GUIPro project - http://obsidev.github.io/guipro/"
            VALUE "OriginalFilename", "HulK.exe"
            VALUE "ProductName", "HotKey UnLimited"
            VALUE "ProductVersion", "0, 9, 4, 0"
        END
        BLOCK "040c04b0"
        BEGIN
            VALUE "Comments", "Glatigny Jerome"
            VALUE "CompanyName", "Obsidev - http://www.obsidev.com"
            VALUE "FileDescription", "HotKey UnLimited - projet GUIPro"
            VALUE "FileVersion", "0, 9, 4, 0"
            VALUE "InternalName", "HulK"
            VALUE "LegalCopyright", "GPL 2007-2015"
            VALUE "LegalTrademarks", "projet GUIPro - http://obsidev.github.io/guipro/"
            VALUE "OriginalFilename", "HulK.exe"
            VALUE "ProductName", "HotKey UnLimited"
            VALUE "ProductVersion", "0, 9, 4, 0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x0, 1200, 0x40c, 1200
    END
END

