// Microsoft Visual C++ generated resource script.
//
#include "resource.h"

/////////////////////////////////////////////////////////////////////////////
//
// Icon
//

// Icon with lowest ID value placed first to ensure application icon
// remains consistent on all systems.
IDI_MAIN_ICON           ICON                    "sersi.ico"

/////////////////////////////////////////////////////////////////////////////
//
// Version
//

VS_VERSION_INFO VERSIONINFO
 FILEVERSION 0,1,0,0
 PRODUCTVERSION 0,1,0,0
 FILEFLAGSMASK 0x17L
#ifdef _DEBUG
 FILEFLAGS 0x3L
#else
 FILEFLAGS 0x2L
#endif
 FILEOS 0x4L
 FILETYPE 0x1L
 FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040c04b0"
        BEGIN
			VALUE "Comments", "DarkSage (Glatigny Jerome)"
            VALUE "FileDescription", "Start by Service - GuiPro project"
            VALUE "FileVersion", "0, 1, 0, 0"
            VALUE "InternalName", "Sersi"
            VALUE "LegalCopyright", "GPL 2007-2008"
            VALUE "LegalTrademarks", "GuiPro project - http://guipro.sourceforge.net"
            VALUE "OriginalFilename", "Sersi.exe"
            VALUE "ProductName", "Start by Service"
            VALUE "ProductVersion", "0, 1, 0, 0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x40c, 1200
    END
END
