// Microsoft Visual C++ generated resource script.
//
#include "./resource.h"

/////////////////////////////////////////////////////////////////////////////
//
// Version
//

VS_VERSION_INFO VERSIONINFO
 FILEVERSION 0,2,0,0
 PRODUCTVERSION 0,2,0,0
 FILEFLAGSMASK 0x17L
#ifdef _DEBUG
 FILEFLAGS 0x1L
#else
 FILEFLAGS 0x0L
#endif
 FILEOS 0x4L
 FILETYPE 0x2L
 FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040c04b0"
        BEGIN
            VALUE "Comments", "DarkSage (Glatigny Jerome)"
            VALUE "FileDescription", "Window Hook for HulK - GuiPro project"
            VALUE "FileVersion", "0, 2, 0, 0"
            VALUE "InternalName", "HulK Window Hook for Borderless"
            VALUE "LegalCopyright", "GPL 2007-2011"
            VALUE "LegalTrademarks", "GuiPro project - http://guipro.sourceforge.net"
            VALUE "OriginalFilename", "wdhook.dll"
            VALUE "ProductName", "HulK Window Hook for Borderless"
            VALUE "ProductVersion", "0, 2, 0, 0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x40c, 1200
    END
END

